form{
	display: flex;
	flex-direction: column;
	width: 600px;
	margin: auto;
	margin-top: 5em;
	border: 1px solid #ccc;
	padding: 1em;
	box-shadow: 5px 8px 9px rgba(0, 0, 0, 1);
	background-color: blue;
}

#id_first_name, #id_last_name{
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1.8em;
}
