{% extends 'base.html' %}
{% block title %} About {% endblock %}
{% block content %}




<div class="pb-[1rem] mt-[1.3rem] ">
    <section class="lg:w-[57%] lg:m-auto  border-[1px] border-gray-400 rounded-md p-[1rem]">
        <h1 style="font-family: Cormorant Garamond, Times, serif;" class="text-4xl mb-[1rem]  font-semibold text-abdo-color-light"> <span>&#128075</span> Hi! My Name is Junior Abdo</h1>
        <hr class="mb-[2rem]">
        <div style="font-family: Inter, sans-serif; line-height: 26px;" class=" border-none">
            <p class="text-[1rem] mb-[1.5rem]">The company itself is a very successful company. Rejecting the gentleness of the truth, as if he had been truly chosen, they do not know how to choose him from his flattery, he will rebuke the said pleasures and the like by any reason!</p>
            <p style="margin-bottom: 3rem;" class="text-[1rem] mb-[1.5rem]">The company itself is a very successful company. Rejecting the gentleness of the truth, as if he had been truly chosen, they do not know how to choose him from his flattery, he will rebuke the said pleasures and the like by any reason!</p>
            <p style="margin-bottom: 3rem;" class="text-[1rem] mb-[1.5rem]">The company itself is a very successful company. Rejecting the gentleness of the truth, as if he had been truly chosen, they do not know how to choose him from his flattery, he will rebuke the said pleasures and the like by any reason!</p>
        </div>
    </section>
</div>


{% endblock content %}
