{% extends 'base.html' %} 
{% load static %} 
{% load humanize %} 
{% block content %}

<span style="display: none;">{% block title %} {{post.title}} {% endblock title %}</span>

<article class="grid grid-cols-1 lg:grid lg:grid-cols-6 gap-4 lg:relative">
  <!-- TITLE AND INFO -->
  <div class="px-[1rem] col-span-7 lg:col-start-2 lg:col-span-4 md:col-start-2 md:col-span-4 lg:ml-[5rem] lg:pr-[4rem]">
    <h1 style="--tw-text-opacity: 1; text-wrap: wrap; color: rgb(35 23 74 / var(--tw-text-opacity)); overflow-wrap: break-word; unicode-bidi: isolate; letter-spacing: -.04em; margin: .67em 0;" class="text-center font-bold text-3xl md:text-4xl lg:text-[2.6rem] leading-5 dark:text-lime-50">{{post.title}}</h1>
    <div class="flex gap-2 mt-10"> 
      <div class="flex items-center">
        <span class="font-light filter-none invert-0 text-2xl mr-4"><img src="{% static 'play/images/icons8-date-48.png' %}" alt="" class="w-[30px]"></span> 
        <span style="color: rgb(35 23 74 / var(--tw-text-opacity));" class="font-bold text-abdo-color-light dark:text-lime-50">{{post.updated_on | date}}</span>
      </div> </div>
      <div style="display: none;" class="flex flex-col"> 
        <span class="text-sm font-light">AUTHOR</span>  <span class="font-bold">{{post.author}}</span>
      </div> 
    <hr class="m-[15px] ml-0 mt-[15px] border-1.9 mb-2 md:mb-0 lg:border-gray-400">
    <!-- <div class="image-wrapper rounded-md">
      <img src="{{post.get_image_url}}" class="img rounded-[15px]" />
    </div> -->
  </div>

  <!-- TOC lg:border-r-[1px] lg:border-x-gray-400 lg:border-solid-->
  <div class="px-[1rem] col-span-7 lg:col-start-1 lg:row-start-1 lg:col-end-2 md:row-start-2 md:col-start-2 md:col-span-4 lg:pl-[3rem] lg:fixed lg:left-0 lg:max-w-[24%] ">
    {% if toc_links %}
      <p class="mb-5 md:text-3xl lg:text-xl lg:font-sans lg:font-semibold dark:text-lime-50">Table of Contents</p>
      <menu class="pl-[3rem] md:pl-[3rem] lg:pl-0">
        {% for heading in toc_links %}
        <li class="p-0 hover:bg-slate-800 hover:text-white border-1 rounded-[10px]"><a href="#{{heading.id}}" class="block w-[100%] lg:text-[14px] lg:mb-3 dark:text-lime-50">{{heading.text}}</a></li>
        {% endfor %}
      </menu>
    {% else %}

    {% endif %}
  </div>
  <div class="invisible lg:col-end-7 lg:col-span-1">03</div>

  <!-- POST CONTENT -->
  <div class="px-[1rem] col-start-2 col-end-6 lg:pl-[6rem] lg:pr-[4rem] lg:row-span-2 lg:text-lg dark:text-abdo-color-light">
    <p  class="mb-[1.5em] font-mono sm:text-2xl md:text-3xl lg:text-4xl text-abdo-color">{{post.body|safe}}</p>
    <div class="mt-[6rem]">
      <!-- SUBSCRIPTION SECTION -->
      <div class="border-2 border-slate-400 mb-[2em]">
        <form action="">
          <div>
            <input type="email" name="email" id="">
            <button type="submit">Subscribe</button>
          </div>
        </form>
      </div>
      <h3 class="font-bold text-[1.8rem] related-posts dark:text-lime-50">Related Posts</h3>
      <hr class="mb-7 mt-3 bg-blue-700">
      <div hx-boost="true">
        {% for related_post in related_posts %}
          <div class="mb-5 border-b-[2px] pb-6">
            <a href="{{related_post.get_absolute_url}}">
              <h2 style="font-family: Cormorant Garamond, Times, serif;" class="text-[1.7rem] pb-3  text-abdo-color-dark dark:text-lime-50">{{related_post.title}}</h2>
              <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="text-abdo-color  text-abdo-color-light">{{related_post.description}}</p>
            </a>
            <div class="mt-4">
              <p class="text-sm font-bold text-gray-600">{{post.updated_on|naturalday}}</p>
            </div>
          </div>
          
        {% endfor %}
      </div>
    </div>
  </div>
</>
{% endblock %}









<article>
  <!-- Post title and meta info -->
   
    <!-- Title -->
    <div class="rounded-t-lg  border-x-[0px] border-t-[0px] p-[1rem] border-solid p-x-[1rem] pt-[1rem] pb-0 sm:w-full sm:p-6 md:w-[100%] md:pb-0 lg:flex lg:relative">
      <!-- TOC -->
    <div class="rounded-t-lg  border-l-[1px] border-t-[0px] p-[1rem] border-solid p-x-[1rem] pt-[1rem] pb-0 sm:w-full sm:p-6 md:w-[80%] md:pb-0 lg:left-0 lg:float-left lg:w-[20%] lg:sticky lg:z-0 lg:top-[8rem] sm:p-l-[2rem] lg:flex-col-reverse">
      {% if toc_links %}
      <p class="mb-5 text-3xl">Table of Contents</p>
        <ul class="">
          {% for heading in toc_links %}
          <li class="list-disc"><a href="#{{heading.id}}">{{heading.text}}</a></li>
          {% endfor %}
        </ul>
      {% else %}
      {% endif %}
    </div>
    <!-- POST TITLE -->
    <div class="lg:w-[60%] lg:h-auto">
      <!-- POST TITLE -->
      <div>
        <h1 style="font-family: serif" class="pt-5 font-bold lg: text-5xl">{{post.title}}</h1>
        <div class="flex gap-2 mt-10"> <div style="display: none;" class="flex flex-col"> <span class="text-sm font-light">AUTHOR</span>  <span class="font-bold">{{post.author}}</span></div> <div class="flex flex-col"><span class="text-sm font-light">PUBLISHED</span> <span class="font-bold text-abdo-color-light">{{post.updated_on}}</span></div> </div>
        <hr class="m-[15px] ml-0 mt-[15px] border-1.9 mb-2 md:mb-0">
        <!-- <div class="image-wrapper rounded-md">
          <img src="{{post.get_image_url}}" class="img rounded-[15px]" />
        </div> -->
      </div>
      <!-- POST CONTENT -->
      <div>
        <p  class="mb-[1.5em] font-mono sm:text-2xl md:text-3xl text-abdo-color">{{post.body|safe}}</p>
      </div>
    </div>
  </div>
  <!-- TOC and post body container -->
  <div class="md:relative">
    <!-- TOC -->
    
    <!-- POST CONETENT -->
    <div style="font-family: Roboto, sans-serif; line-height: 26px; word-spacing: 1px;" class="text-abdo-color m-auto border-collapse rounded-b-lg border-x-[0px] border-solid md:p-[1rem] text-[19px] sm:w-full sm:p-8 md:w-[80%] lg:w-[60%]">
      <!-- <p  class="mb-[1.5em] font-mono sm:text-2xl md:text-3xl text-abdo-color">{{post.body|safe}}</p> -->
      <!-- RELATED POSTS -->
      <div class="mt-[6rem]">
        <h3 class="font-bold text-[1.8rem]">Related Posts</h3>
        <hr class="mb-7 mt-3">
        <div hx-boost="true">
          {% for related_post in related_posts %}
            <div class="mb-5 border-b-[2px] pb-6">
              <a href="{{related_post.get_absolute_url}}">
                <h2 style="font-family: Cormorant Garamond, Times, serif;" class="text-[1.7rem] pb-3  text-abdo-color-dark">{{related_post.title}}</h2>
                <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="text-abdo-color ">{{related_post.description}}</p>
              </a>
              <div class="mt-4">
                <p class="text-sm font-bold text-gray-600">{{post.updated_on|naturalday}}</p>
              </div>
            </div>
            
          {% endfor %}
        </div>
      </div>
    </div>
    
  </div>
  
</article>





<!-- ALL GOOD -->
<article>
  <!-- Post title and meta info -->
  <div class="m-auto rounded-t-lg  border-x-[0px] border-t-[0px] p-[1rem] border-solid p-x-[1rem] pt-[1rem] pb-0 sm:w-full sm:p-6 md:w-[80%] md:pb-0">
    <h1 style="font-family: serif" class="pt-5 font-bold lg: text-5xl">{{post.title}}</h1>
    <div class="flex gap-2 mt-10"> <div style="display: none;" class="flex flex-col"> <span class="text-sm font-light">AUTHOR</span>  <span class="font-bold">{{post.author}}</span></div> <div class="flex flex-col"><span class="text-sm font-light">PUBLISHED</span> <span class="font-bold text-abdo-color-light">{{post.updated_on | naturalday}}</span></div> </div>
    <hr class="m-[15px] ml-0 mt-[15px] border-1.9 mb-2 md:mb-0">
    <!-- <div class="image-wrapper rounded-md">
      <img src="{{post.get_image_url}}" class="img rounded-[15px]" />
    </div> -->
    
  </div>
  <!-- TOC and post body container -->
  <div class="md:relative">
    <!-- TOC -->
    <div class="m-auto rounded-t-lg  border-l-[1px] border-t-[0px] p-[1rem] border-solid p-x-[1rem] pt-[1rem] pb-0 sm:w-full sm:p-6 md:w-[80%] md:pb-0 lg:left-0 lg:float-left lg:w-[20%] lg:sticky lg:z-0 lg:top-[8rem] sm:p-l-[2rem]">
      {% if toc_links %}
      <p class="mb-5 text-3xl">Table of Contents</p>
      {% for heading in toc_links %}
        <ul class="pl-[3rem] lg:pl-[1rem]">
          <li class="list-disc"><a href="#{{heading.id}}">{{heading.text}}</a></li>
        </ul>
      {% endfor %}
      {% else %}

      {% endif %}
    </div>
    <!-- POST CONETENT -->
    <div style="font-family: Roboto, sans-serif; line-height: 26px; word-spacing: 1px;" class="text-abdo-color m-auto border-collapse rounded-b-lg border-x-[0px] border-solid p-[1rem] text-[19px] sm:w-full sm:p-8 md:w-[80%] lg:pl-[8rem]">
      <p  class="mb-[1.5em] font-mono sm:text-2xl md:text-3xl text-abdo-color">{{post.body|safe}}</p>
      <!-- RELATED POSTS -->
      <div class="mt-[6rem]">
        <h3 class="font-bold text-[1.8rem]">Related Posts</h3>
        <hr class="mb-7 mt-3">
        <div hx-boost="true">
          {% for related_post in related_posts %}
            <div class="mb-5 border-b-[2px] pb-6">
              <a href="{{related_post.get_absolute_url}}">
                <h2 style="font-family: Cormorant Garamond, Times, serif;" class="text-[1.7rem] pb-3  text-abdo-color-dark">{{related_post.title}}</h2>
                <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="text-abdo-color ">{{related_post.description}}</p>
              </a>
              <div class="mt-4">
                <p class="text-sm font-bold text-gray-600">{{post.updated_on|naturalday}}</p>
              </div>
            </div>
            
          {% endfor %}
        </div>
      </div>
    </div>
    
  </div>
  
</article>










<div class="sm:w-full sm:p-6 md:w-[60%] m-auto  border-[1px] border-solid rounded-md p-[1rem]">
  
  <article class="single_post">
    <h1 style="font-family: Cormorant Garamond, Times, serif;" class="pt-5 font-medium lg: text-5xl">{{post.title}}</h1>
    <div class="flex gap-2 mt-10"> <div style="display: none;" class="flex flex-col "> <span class="text-sm font-light">AUTHOR</span>  <span class="font-bold">{{post.author}}</span></div> <div class="flex flex-col"><span class="text-sm font-light">PUBLISHED</span> <span class="font-bold text-abdo-color-light">{{post.updated_on | naturalday}}</span></div> </div>
    <hr class="m-[15px] ml-0 mt-[15px] border-1.9 mb-8">
    <div class="image-wrapper rounded-md">
      <img src="{{post.get_image_url}}" class="img rounded-[15px]" />
    </div>
    <!-- TOC should be here -->
    <div class="sm:w-full sm:p-6 md:w-[20%] mt-[2rem] md:left-0 border-[1px] border-solid rounded-md p-[1rem] md:float-left">
      <p class="text-2xl mb-5">Table of Content</p>
      {% for heading in toc_links %}
        <ol>
          <li><a href="#{{heading.id}}">{{heading.text}}</a></li>
        </ol>
      {% endfor %}
    </div>
    <!-- POST Content -->
    <div style="font-family: Roboto, sans-serif; line-height: 26px; word-spacing: 1px;" class="pt-3 text-abdo-color text-[19px]">
      <p  class="mb-[1.5em] font-mono sm:text-2xl md:text-3xl text-abdo-color">{{post.body|safe}}</p>
    </div>
    <!-- RELATED POSTS -->
    
  </article>

  
  <!-- <div>
    {% load crispy_forms_tags %}
    <form method="post" action="">
      <h3>Leave a comment</h3>
      {{ form | crispy}} {% csrf_token %}
      <input type="submit" value="Post Comment" />
    </form>
  </div> -->
  
  <!-- {% for c in comments %} -->
  <!-- <div class="comment">
    <div class="author">
      <h3>{{c.name}}</h3>
    </div>
    <div class="content">
      <div class="timestamp">{{c.created_on|naturalday}}</div>
      <div>{{c.body}}</div>
    </div>
  </div> -->
  <!-- {% endfor %} -->
  <div class="mt-[6rem]">
    <h3 class="font-bold text-[1.8rem]">Related Posts</h3>
    <hr class="mb-7 mt-3">
    <div hx-boost="true">
      {% for related_post in related_posts %}
        <div class="mb-5 border-b-[2px] pb-6">
          <a href="{{related_post.get_absolute_url}}">
            <h2 style="font-family: Cormorant Garamond, Times, serif;" class="text-[1.7rem] pb-3  text-abdo-color-dark">{{related_post.title}}</h2>
            <p style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="text-abdo-color ">{{related_post.description}}</p>
          </a>
          <div class="mt-4">
            <p class="text-sm font-bold text-gray-600">{{post.updated_on|naturalday}}</p>
          </div>
        </div>
        
      {% endfor %}
    </div>
  </div>
</div>
<!-- ================================================= -->

<div class="sm:w-full sm:p-6 md:w-[60%] m-auto  border-[1px] border-solid rounded-md p-[1rem]">
  <h1 style="font-family: Cormorant Garamond, Times, serif;" class="pt-5 font-medium lg: text-5xl">{{post.title}}</h1>
  <div class="flex gap-2 mt-10"> <div style="display: none;" class="flex flex-col "> <span class="text-sm font-light">AUTHOR</span>  <span class="font-bold">{{post.author}}</span></div> <div class="flex flex-col"><span class="text-sm font-light">PUBLISHED</span> <span class="font-bold text-abdo-color-light">{{post.updated_on | naturalday}}</span></div> </div>
  <hr class="m-[15px] ml-0 mt-[15px] border-1.9 mb-8">
  <div class="image-wrapper rounded-md">
    <img src="{{post.get_image_url}}" class="img rounded-[15px]" />
  </div>
</div>

<div class="bg-red-500 md:grid md:grid-cols-10 relative">
  <div class="bg-gray-500 md:col-span-2 md:fixed">
    <div class="sm:w-full sm:p-6  mt-[2rem] border-[1px] border-solid rounded-md p-[1rem]">
      <p class="text-2xl mb-5">Table of Content</p>
      {% for heading in toc_links %}
        <ol>
          <li><a href="#{{heading.id}}">{{heading.text}}</a></li>
        </ol>
      {% endfor %}
    </div>
    <p>Lorem, ipsum dolor.</p>
  </div>
  <div class="bg-slate-800 md:col-span-2">
    <div style="font-family: Roboto, sans-serif; line-height: 26px; word-spacing: 1px;" class="pt-3 text-abdo-color text-[19px]">
      <p  class="mb-[1.5em] font-mono sm:text-2xl md:text-3xl text-abdo-color">{{post.body|safe}}</p>

    </div>
  </div>
  Hello
</div>



