{% load static %}  {% load humanize %} {% load django_htmx %}
<!DOCTYPE html>
<html class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title> {% block title %} {% endblock title %} | Blog App</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <!-- Testing Highlight js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

    <style>
      h2{
        font-size: 25px;
      }
      pre {
        background-color: rgb(27,27,39);
        border-radius: 3px;
      }
    </style>
    
  </head>
  <body id="body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="mr-1 scroll-mr-3 dark:bg-dark-mode-color">
    <header class=" p-[1.4rem] mt-[1.3rem] lg:w-[57%] lg:m-auto ">
      <div>
        <div class="flex justify-center items-center">
          
        </div>
        <div></div>
      </div>
      <nav>
        <ul class="w-[100%] flex justify-between mt-3" hx-boost="true">
          <li><a href="{% url 'index' %}" class="font-extrabold max-w-[100%]" style="color: rgb(35, 23, 74);"><img src="{% static 'images/home.svg' %}" alt="HOME" style="max-width: 100%;"/>HOME</a></li>
          <li><a href="{% url 'blog' %}" class="font-extrabold max-w-[100%]" style="color: rgb(35, 23, 74);">BLOG</a></li>
          <li><a href="{% url 'about' %}" class="font-extrabold max-w-[100%]"><img src="{% static 'images/github.svg' %}" alt="GITHUB" width="48" height="48" style="max-width: 100%;">GIT</a></li>
        </ul>
        <div>
          
        </div>
      </nav>
    </header>
    <main>
      {% if messages %}
      <ul class="messages w-[100%] bg-yellow-300 absolute top-10 z-10">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% if messages %}
      <ul class="messages bg-yellow-300 fixed top-10 left-[20%] right-[20%] z-10">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
          <button class="rounded-md text-white">X</button>
      </ul>
      {% endif %}
      <section class="main-content pt-[1rem]" id="main-content">
        {% block content %} 
        {% endblock %}
      </section>
      <script
        type="module"
        src="{% static 'play/JavaScript/script.js'%}"
      ></script>
    </main>
    <footer id="footer" class="w-[80%] m-auto mt-8 mb-[4rem]">
      <p style="color: rgb(35, 23, 74);" class="text-center text-xl"><span>&#169</span> 2024 </p>
    </footer>
    <script>hljs.highlightAll();</script>
  </body>
</html>
